h1 {
	color: blue;
	border-bottom: 1px solid blue;
}
body {
	font-family: Arial, sans-serif;
	font-size: 0.9em;
}

form {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
}

#bottom-box {
	display: block;
	padding: 1em;
	font-size: 1.2em;
}

#field-username {
	margin: 2px solid blue;
}