
#menubar nav {
	background-color: #008800;
	height: 2em;
}

#menubar nav ul li{
	display: inline;
	
}

#menubar nav ul li a:hover{
	background-color: #88ff88;
	color: #001100;
}

#menubar nav ul li a, #menubar nav ul li a#searcharea:hover{
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	margin-top: 2em;
	text-decoration: none;
	color: #eeffee;
}


#menubar nav ul li a{
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	margin-top: 2em;
	text-decoration: none;
	color: #eeffee;
}

 #menubar nav ul li a#searcharea input{
	width: 50%;
 }
 
 