body {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
}

h1#username {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #ababab;
}

#user_description {
	position: relative;
	left: 2%;
	width: 30%;
	height: 10%;
}

#user_friends {
	position: relative;
	left: 2%;
	width: 20%;
}

#user_information {
	position: absolute;
	left: 50%;
	width: 30%;
	height: 8em;
	top: 6em;
	border-left: 1px solid #ababab;
	padding-left: 3px;
	padding-top: 3px;
}
